@{
    ViewBag.Title = "Configuration";
}

<div class="pure-g container">
    <div class="pure-u-1-4">
        <div class="l-box">
            <h3 class="configure-title">Step by step</h3>
            <ul class="configure-buttons">
                <li><a class="pure-button button-configuration" href="@Url.Action("ConfigureSlack", "Home")">Slack</a></li>
                <li><a class="pure-button button-configuration" href="@Url.Action("Configure", "Home")">Slash command</a></li>
                <li><a class="pure-button button-configuration" href="#">Slackify</a></li>
                <li><a class="pure-button button-configuration" href="#">Try me!</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-3-4">
        <div class="l-box">
            <h3 class="configure-title">Configurar /command</h3>
            <div class="configure-title">
                Introducir token proporcionado <a href="https:\\slackify.it">@ViewBag.Endpoint</a> y la siguiente URL:
                <form class="pure-form pure-form-aligned" action="@Url.Action("SaveInfo", "Home")" method="post">
                    <fieldset>

                        <div class="pure-control-group">
                            <label for="token">Token</label>
                            <input id="token" name="token" type="text" placeholder="">
                        </div>
                        <div class="pure-control-group">
                            <label for="url">URL</label>
                            <input id="url" name="url" type="text" placeholder="">
                        </div>
                        <input name="endpoint" type="hidden" value="@ViewBag.Endpoint">

                        <input class="pure-button" type="submit" value="Enviar...">

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>