<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Slackify</title>
    <meta name="description" content="(╯°□°)╯︵ ┻━┻">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    @Styles.Render("~/Content/CSS/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href=""><img src="https://imgur.com/a/wIUs0" alt="Slackify logo"></a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected">@Html.ActionLink("Configure", "Configure", "Home", new { area = "" }, new { @class = "pure-menu-link" })</li>
            </ul>
        </div>
    </div>

    @RenderBody()

    <div class="footer l-box is-center">
        Soy un footer extraño
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
